@model VmPerson
@{
    //Layout = "_LayoutCrud";
    ViewData["Vista"] = "Edit";
}

<link rel="stylesheet" href="~/css/Create.css" asp-append-version="true"/>

@*action="@Url.Action("Login", "Login")" method="post" autocomplete="off"*@

<div class="formCrud">
    <h2>
        MODIFICAR CONQUISTADOR***

    </h2>

    <div class="row">
        <div class="col">
            <form action="@Url.Action("Edit", "Conquistador")" method="post" autocomplete="off">
                <div class="form-group" style="display: none !important;">
                    <input type="number" name="id" class="form-control" required value="@Model.Id">
                </div>

                <div class="form-group">
                    <label class="control-label">DNI: *</label>
                    <input type="text" id="dni" title="Ingrese su número de DNI." aria-label="Dni: " class="form-control" required value="@Model.Dni">
                    <span id="mensajeAdvertenciaDNI" style="display:none; color:red;">El DNI debe tener exactamente 8 dígitos numéricos.</span>
                </div>

                <div class="form-group">
                    <label class="control-label">Nombre(s) : *</label>
                    <input type="text" id="nombre" maxlength="30" title="Ingrese su nombre." aria-label="Nombre" class="form-control" name="FirstName" required value="@Model.FirstName">
                    <span id="mensajeAdvertenciaNombre" style="display:none; color:red;">Ingrese un máximo de 30 letras.</span>

                </div>

                <div class="form-group">
                    <label class="control-label">Apellido Paterno : *</label>
                    <input type="text" id="apellidoPaterno" maxlength="15" title="Ingrese su apellido paterno." aria-label="Apellidos" class="form-control" name="FatherSurname" required value="@Model.FathersSurname">
                    <span id="mensajeAdvertenciaApellido" style="display:none; color:red;">Como mínimo 3 caracteres</span>

                </div>
                <div class="form-group">
                    <label class="control-label">Apellido Materno : *</label>
                    <input type="text" id="apellidoMaterno" maxlength="15" title="Ingrese su apellido materno." aria-label="Apellidos" class="form-control" name="MotherSurname" required value="@Model.MothersSurname">
                    <span id="mensajeAdvertenciaMaterno" style="display:none; color:red;">Como mínimo 3 caracteres</span>

                </div>
                <div class="form-group">
                    <label class="control-label">Fecha Nacimiento : *</label>
                    @{
                        DateTime fechaMinima = DateTime.Today.AddYears(-10).Date;
                        string fechaMinimaString = fechaMinima.ToString("yyyy-MM-dd");
                    }
                    <input type="date" id="fechaNacimiento" min="@fechaMinimaString" aria-label="FechaNac" class="form-control" name="Birthday" required value="@Model.BirthDate">
                    <span id="mensajeAdvertencia" style="display:none; color:red;">Debe tener al menos 10 años de edad.</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Sexo: *</label>
                    <select name="Sex" id="Sexo">
                        @switch (Model.Gender)
                        {
                            case "M":
                                <option value="M" selected>Masculino</option>
                                <option value="F">Femenino</option>
                                break;
                            case "F":
                                <option value="M">Masculino</option>
                                <option value="F" selected>Femenino</option>
                                break;
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Telefono:*</label>
                    <input type="number" id="telefono" title="Ingrese un número de 9 dígitos." aria-label="telefono" class="form-control" name="Phone" required value="@Model.Phone">
                    <span id="mensajeAdvertenciaTelefono" style="display:none; color:red;">Debe tener exactamente 9 dígitos.</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Correo:*</label>
                    <input type="email" placeholder="email@gmail.com" aria-label="email" class="form-control" name="Email" required value="@Model.Email">
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Direccion:*</label>
                    <input type="text" id="direccion" maxlength="50" title="Ingrese su dirección." aria-label="direccion" class="form-control" name="Address" required value="@Model.Address">
                    <span id="mensajeAdvertenciaDireccion" style="display:none; color:red;">Excedió el número de caracteres.</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Padre/Apoderado:</label>
                    <input type="search" aria-label="padre" id="padre" class="form-control">
                    <select class="apoderado" name="Attorney" id="listaPadres">
                        <option value="" class="father">Seleccionar padre/apoderado</option>
                        @foreach (var father in ViewBag.Fathers)
                        {
                            if (father.Value == Model.PersonId)
                            {
                                <option value="@father.Value" selected class="father">@father.Text</option>
                            }
                            else
                            {
                                <option value="@father.Value" class="father">@father.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="clase">Clase</label>
                    <select name="Class" id="clase">
                        @foreach (var classes in ViewBag.Classes)
                        {
                            if (classes.Value == Model.ClassId)
                            {
                                <option value="@classes.Value" selected>@classes.Text</option>
                            }
                            else
                            {
                                <option value="@classes.Value">@classes.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="unidad">Unidad</label>
                    <select name="Unit" id="unidad">
                        @foreach (var units in ViewBag.Units)
                        {
                            if (units.Value == Model.UnitId)
                            {
                                <option value="@units.Value" selected>@units.Text</option>
                            }
                            else
                            {
                                <option value="@units.Value">@units.Text</option>
                            }
                        }
                    </select>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <label for="cargo">Cargo</label>
                    <select name="Position" id="cargo">
                        @foreach (var positions in ViewBag.Positions)
                        {
                            if (positions.Value == Model.PositionId)
                            {
                                <option value="@positions.Value" selected>@positions.Text</option>
                            }
                            else
                            {
                                <option value="@positions.Value">@positions.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="cargo">Rol</label>
                    <select name="Role" id="rol">
                        @foreach (var roles in ViewBag.Roles)
                        {
                            if (roles.Value == Model.User.Role.Id)
                            {
                                <option value="@roles.Value" selected>@roles.Text</option>
                            }
                            else
                            {
                                <option value="@roles.Value">@roles.Text</option>
                            }
                        }
                    </select>
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <label class="control-label">Usuario:</label>
                    <input type="text" id="usuario" title="Ingrese su nombre de usuario." aria-label="usuario" class="form-control" name="Username" required value="@Model.User.UserName">
                    <span id="mensajeAdvertenciaUsuario" style="display:none; color:red;">El usuario debe tener al menos 6 caracteres y no puede contener espacios ni caracteres especiales.</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Contraseña:</label>
                    <input type="text" id="contrasena" title="Ingrese su contraseña." aria-label="pasword" class="form-control" name="Password" required value="@Model.User.Password">
                    <span id="mensajeAdvertenciaContrasena" style="display:none; color:red;">Formato de contraseña inválido. Debe contener al menos 8 caracteres, una mayúscula, un carácter especial y un número.</span>

                </div>
                <br/>
                <br/>
                <button type="submit" id="btnGuardar" class="btnGuardar" value="guardar">Guardar</button>

                <button type="submit" class="btnCancelar" value="cancelar" onclick="location.href='@Url.Action("Details", "Conquistador")'">Cancelar</button>

            </form>

        </div>

    </div>
</div>

<script>
document.addEventListener("keyup", e =>{
    e.target.matches("#padre")
    console.log(e.target.value)
    
    if (e.target.matches("#padre")){
        if (e.key==="Escape")e.target.value = ""
        document.querySelectorAll(".father").forEach(father=>{
            father.textContent.toLowerCase().includes(e.target.value.toLowerCase()) ? father.classList.remove("filtro") : father.classList.add("filtro")
        })
    }
})
</script>

<script type="text/javascript"
        src="~/js/validacionesActualizarConquistador.js">
</script>