@model VmPerson
@{
    //Layout = "_LayoutCrud";
    ViewData["Vista"] = "AsignarClase";
}

<link rel="stylesheet" href="~/css/Create.css" asp-append-version="true" />

@*action="@Url.Action("Login", "Login")" method="post" autocomplete="off"*@

<div class="formCrud">
    <h2>
        Asignar Clase a Conquistador***

    </h2>

    <div class="row">
        <div class="col">
            <form action="@Url.Action("AsignarClase", "Consejero")" method="post" autocomplete="off">
                <div class="form-group" style="display: none !important;">
                    <input type="number" name="id" class="form-control" required value="@Model.Id">
                </div>

                <div class="form-group">
                    <label class="control-label">DNI: *</label>
                    <input type="number" name="Dni" aria-label="Dni: " class="text-muted" required value="@Model.Dni">
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Nombre(s) : *</label>
                    <input type="text" aria-label="Nombre" class="text-muted" name="FirstName" required value="@Model.FirstName">
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Apellido Paterno : *</label>
                    <input type="text" aria-label="Apellidos" class="text-muted" name="FatherSurname" required value="@Model.FathersSurname">
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Apellido Materno : *</label>
                    <input type="text" aria-label="Apellidos" class="text-muted" name="MotherSurname" required value="@Model.MothersSurname">
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha Nacimiento : *</label>
                    <input type="date" aria-label="FechaNac" class="text-muted" name="Birthday" required value="@Model.BirthDate">
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Sexo: *</label>
                    <select name="Sex" id="Sexo">
                        @switch (@Model.Gender)
                        {
                            case "M":
                                <option value="M" selected>Masculino</option>
                                <option value="F">Femenino</option>
                                break;
                            case "F":
                                <option value="M">Masculino</option>
                                <option value="F" selected>Femenino</option>
                                break;
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Telefono:*</label>
                    <input type="number" aria-label="telefono" class="form-control" name="Phone" required value="@Model.Phone">
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Correo:*</label>
                    <input type="email" placeholder="email@gmail.com" aria-label="email" class="form-control" name="Email" required value="@Model.Email">
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Direccion:*</label>
                    <input type="text" aria-label="direccion" class="text-muted" name="Address" required value="@Model.Address">
                    <span class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="clase">Clase</label>
                    <select name="Class" id="clase">
                        @foreach (var classes in ViewBag.Classes)
                        {
                            if (classes.Value == Model.ClassId)
                            {
                                <option value="@classes.Value" selected>@classes.Text</option>
                            }
                            else
                            {
                                <option value="@classes.Value">@classes.Text</option>
                            }
                        }
                    </select>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <label class="control-label">Usuario:</label>
                    <input type="text" aria-label="usuario" class="text-muted" name="Username" required value="@Model.User.UserName">
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Contraseña:</label>
                    <input type="password" aria-label="pasword" class="form-control" name="Password" required value="@Model.User.Password">
                    <span class="text-danger"></span>
                </div>
                <br />
                <br />
                <button type="submit" class="btnGuardar" value="guardar">Guardar</button>

                <button type="submit" class="btnCancelar" value="cancelar" onclick="location.href='@Url.Action("UnidadConsejero", "Consejero")'">Cancelar</button>

            </form>

        </div>

    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script>
        alert(@ViewBag.Message);
    </script>
}
