@model VmPerson
@{
    ViewData["Vista"] = "Delete";
}
<link rel="stylesheet" href="~/css/Delete.css" asp-append-version="true"/>
<div class="formCrud">
    <h2>ELIMINAR CONSEJERO***</h2>
    <div class="row">
        <div class="col">
            <form asp-action="Delete" class="delete">
                <div class="form-group" style="display: none !important;">
                    <input type="number" name="id" class="form-control" required value="@Model.Id">
                    <input type="number" name="nro" class="form-control" required value="@Model.Id">
                </div>
                <h1>Estas seguro que deseas eliminar a @Model.FirstName @Model.FathersSurname @Model.MothersSurname</h1>
                <button type="submit" class="btnEliminar" value="eliminar">Eliminar</button>
            </form>
        </div>
    </div>
</div>
<br/>
<br/>
<div class="botones">
    <button type="submit" class="btnCancelar" value="cancelar" onclick="location.href='@Url.Action("Details", "Consejero")'">Cancelar</button>
</div>