@using System.Globalization
@model VmPerson
@{
    ViewData["Vista"] = "TomarLista";
    ViewBag.Title = "Toma de Lista";
}
<link rel="stylesheet" href="~/css/CrudOrganizacion.css" asp-append-version="true"/>
<div class="recent-order">
    <h2>Tomar Lista ***</h2>
    <p class="bolded">Unidad : <b>@Model.Unit</b></p>
    <br/>
    <p class="bolded">Fecha : <b> @DateTime.Today.ToString("D", new CultureInfo("es-PE"))</b></p>
    @if (DateTime.Today.ToString("dddd", new CultureInfo("es-PE")) == "viernes")
    {
        <table class="table display table-hover">
            <thead>
            <tr name="columna">
                <th class="nombre" name="colNombre">Nombre</th>
                <th class="apellido" name="colApellido">Apellidos</th>
                <th class="apellido" name="colApellido">Puntos</th>
                <th class="cargo" name="colCargo">Tomar Asistencia</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.PersonList)
            {
                <tr name="fila">
                    <td class="nombre" name="rowNombre">@item.FirstName</td>
                    <td class="apellido" name="rowApellido">@item.FullSurname</td>
                    <td class="puntos" name="rowPuntos">@item.Total</td>
                    <td>
                        <form action="@Url.Action("Asistencia", "Consejero")" method="get">
                            <input type="hidden" name="nro" value="@item.Id"/>
                            <button type="submit" id="delete" class="btn btn-default">
                                <span class="material-symbols-outlined">add</span>
                            </button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h1>Hoy no se toma asistencia, espera al domingo.</h1>
    }
</div>