@{
    //Layout = "_LayoutCrud";
    ViewData["Vista"] = "Details";
}

<link rel="stylesheet" href="~/css/CrudOrganizacion.css" asp-append-version="true" />

@*action="@Url.Action("Login", "Login")" method="post" autocomplete="off"*@

<h1>
    Hola, <b name="nombrePersona">Pedro</b> !
    <span class="material-symbols-outlined">waving_hand</span>
</h1>

<div class="recent-order">
    <h2>
        Instructor ***
        <button type="submit" class="btnCreate" onclick="location.href='@Url.Action("Create", "Instructor")'">Ingresar</button>

    </h2>

    <table class="table table-hover">
        <thead>
            <tr name="columna">
                <th scope="col" name="nro">Item</th>
                @*<th>
                @Html.DisplayNameFor(model => model.Name)
                </th>*@
                <th class="nombre" name="colNombre">Nombre</th>
                <th class="apellido" name="colApellido">Apellido</th>
                <th class="telefono" name="colTelefono">Telefono</th>
                <th class="clase" name="colClase">Clase</th>
                <th class="unidad" name="colUnidad">Unidad</th>
            </tr>
        </thead>
        <tbody>
            <tr name="fila">
                <th scope="row" name="nro">1</th>
                <td class="nombre" name="rowNombre">Mark</td>
                <td class="apellido" name="rowApellido">Otto</td>
                <td class="telefono" name="rowTelefono">44444</td>
                <td class="clase" name="rowClase">clase1</td>
                <td class="unidad" name="rowUnidad">unidad1</td>
                <td>
                    <button type="button" id="delete" class="btn btn-default" onclick="location.href='@Url.Action("Delete", "Instructor")'">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                    <button type="button" id="edit" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Instructor")'">
                        <span class="material-symbols-outlined">edit_square</span>
                    </button>


                </td>
            </tr>

        </tbody>
    </table>


</div>

