@model VmPerson
@{
    ViewData["Vista"] = "Registrar_Notas";
    ViewBag.Title = "Registrar Calificaciones";
}
<link rel="stylesheet" href="~/css/EstiloRegNotas.css" asp-append-version="true"/>
<div class="recent-order">
    <h2>Registrar Notas de Examen ***</h2>
    <div class="form-group">
        <label for="clase">Clase : <b> @Model.Class</b> </label>
    </div>
    <table class="table table-hover">
        <thead>
        <tr name="columna">
            <th class="nombre" name="colNombre">Nombre(s)</th>
            <th class="apellido" name="colApellido">Apellidos</th>
            <th class="fechaHoy" name="colfecha">Categoria</th>
            <th class="notaexamen" name="colnotaexamen">Nota</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.PersonList)
        {
            <tr name="fila">
                <td class="nombre" name="rowNombre">@item.FirstName</td>
                <td class="apellido" name="rowApellido">@item.FullSurname</td>
                <form action="@Url.Action("Registrar_nota", "Instructor")" method="get">
                    <td class="fechaActual" name="rowaFechaActual">
                        <select name="category" id="estado">
                            @foreach (var classes in ViewBag.Categories)
                            {
                                <option value="@classes.Value">@classes.Text</option>
                            }
                        </select>
                    </td>
                    <td class="notaexamen" name="rownotaexamen">
                        <input type="hidden" name="nro" value="@item.Id"/>
                        <button type="submit" id="delete" class="btn btn-default">
                            <span class="material-symbols-outlined">add</span>
                        </button>
                    </td>
                </form>
            </tr>
        }
        </tbody>
    </table>
</div>
<script>
    function setInputDate(_id) {
        var _dat = document.querySelector(_id);
        var hoy = new Date(),
            d = hoy.getDate(),
            m = hoy.getMonth() + 1,
            y = hoy.getFullYear(),
            data;
        if (d < 10) {
            d = "0" + d;
        }
        if (m < 10) {
            m = "0" + m;
        }
        data = y + "-" + m + "-" + d;
        console.log(data);
        _dat.value = data;
    }
    setInputDate("#dateDefault");
</script>