@{
    //Layout = "_LayoutCrud";
    ViewData["Vista"] = "Details";
}

<link rel="stylesheet" href="~/css/CrudOrganizacion.css" asp-append-version="true" />

@*action="@Url.Action("Login", "Login")" method="post" autocomplete="off"*@

<h1>
    Hola, <b name="nombrePersona">Pedro</b> !
    <span class="material-symbols-outlined">waving_hand</span>
</h1>

<div class="recent-order">
    <h2>
        ACTIVIDADES ***
        <button type="submit" class="btnCreate" onclick="location.href='@Url.Action("Create", "Actividades")'">Ingresar</button>

    </h2>

    <table class="table table-hover">
        <thead>
            <tr name="columna">
                <th scope="col" name="nro">Item</th>
                @*<th>
                @Html.DisplayNameFor(model => model.Name)
                </th>*@
                <th class="nombre" name="colNombre">Nombre</th>
                <th class="fechainicio" name="colFecIni">Fecha Inicial</th>
                <th class="fechafin" name="colFecFin">Fecha Final</th>
                <th class="clase" name="colClase">Clase</th>
                <th class="encargado" name="colEncargado">Encargado</th>
            </tr>
        </thead>
        <tbody>
            <tr name="fila">
                <th scope="row" name="nro">1</th>
                <td class="nombre" name="colNombre">Campamento</td>
                <td class="fechainicio" name="colFecIni">02/06/23</td>
                <td class="fechafin" name="colFecFin">02/09/23</td>
                <td class="clase" name="rowClase">clase1</td>
                <td class="encargado" name="colEncargado">Joel Gonzales</td>
                <td>
                    <button type="button" id="delete" class="btn btn-default" onclick="location.href='@Url.Action("Delete", "Actividades")'">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                    <button type="button" id="edit" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Actividades")'">
                        <span class="material-symbols-outlined">edit_square</span>
                    </button>


                </td>
            </tr>

        </tbody>
    </table>


</div>