@model VmActivity
@{
    ViewData["Vista"] = "Details";
    ViewBag.Title = "Actividades";
}
<!--jQuery library file -->
<script type="text/javascript"
        src="~/js/cruds.js">
</script>

<!--Datatable plugin JS library file -->
<script type="text/javascript"
        src="~/js/cruds2.js">
</script>

<link rel="stylesheet" href="~/css/CrudOrganizacion.css" asp-append-version="true"/>

@*action="@Url.Action("Login", "Login")" method="post" autocomplete="off"*@


<div class="recent-order">
    <h2>
        ACTIVIDADES ***
        <button type="submit" class="btnCreate" onclick="location.href='@Url.Action("Create", "Actividades")'">Ingresar</button>

    </h2>

    <table class="table table-hover">

        <thead>
        <tr name="columna">
            <th class="nombre" name="colNombre">Nombre</th>
            <th class="fechainicio" name="colFecIni">Fecha de Inicio</th>
            <th class="fechafin" name="colFecFin">Fecha de Fin</th>
            <th class="encargado" name="colEncargado">Encargado</th>
            <th class="lugar" name="colLugar">Lugar</th>
            <th class="editar" name="colCargo">Editar</th>
            <th class="eliminar" name="colCargo">Eliminar</th>
            <th class="participantes" name="colCargo">Participantes</th>
        </tr>
        </thead>

        @if (Model.Activities != null)
        {
            <tbody>
            @foreach (var item in Model.Activities)
            {
                <tr name="fila">
                    <td class="nombre" name="colNombre">@item.Name</td>
                    <td class="fechainicio" name="colFecIni">@item.StartDate</td>
                    <td class="fechafin" name="colFecFin">@item.EndDate</td>
                    <td class="encargado" name="colEncargado">@item.Manager.FullSurname</td>
                    <td class="lugar" name="rowLugar">@item.Location</td>
                    <td>
                        <form action="@Url.Action("Edit", "Actividades")" method="get">
                            <input type="hidden" name="nro" value="@item.Id"/>
                            <button type="submit" id="edit" class="btn btn-default">
                                <span class="material-symbols-outlined">edit_square</span>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="@Url.Action("Delete", "Actividades")" method="get">
                            <input type="hidden" name="nro" value="@item.Id"/>
                            <button type="submit" id="delete" class="btn btn-default">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="@Url.Action("Participantes", "Actividades")" method="get">
                            <input type="hidden" name="nro" value="@item.Id"/>
                            <button type="submit" id="delete" class="btn btn-default">
                                <span class="material-symbols-outlined"> child_care</span>
                            </button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        }
    </table>
</div>
<script>

    /* Initialization of datatables */
    $(document).ready(function () {
        $('table.display').DataTable();
    });
</script>