@model VmActivity
@{
    ViewBag.Title = "Lista de Participantes";
}
<script type="text/javascript"
        src="~/js/cruds.js">
</script>
<script type="text/javascript"
        src="~/js/cruds2.js">
</script>
<link rel="stylesheet" href="~/css/CrudOrganizacion.css" asp-append-version="true"/>
<div class="recent-order">
    <button type="submit" class="btnGuardar" value="guardar" onclick="location.href='@Url.Action("Details", "Actividades")'">Guardar</button>
    <h2>Participantes ↓</h2>
    <table class="table display table-hover">
        <thead>
        <tr name="columna">
            <th class="firstname" name="colNombre">Nombre</th>
            <th class="firstsurname" name="colFecIni">Apellido Paterno</th>
            <th class="lastsurname" name="colFecFin">Apellido Materno</th>
            <th class="delete" name="colCargo">Eliminar</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Participants != null)
        {
            @foreach (var item in Model.Participants)
            {
                <tr name="fila">
                    <td class="nombre" name="colNombre">@item.FirstName</td>
                    <td class="firstsurname" name="colFecIni">@item.FathersSurname</td>
                    <td class="lastsurname" name="colFecFin">@item.MothersSurname</td>
                    <td>
                        <form action="@Url.Action("DeleteParticipants", "Actividades")" method="post">
                            <input type="hidden" name="nro" value="@Model.Id"/>
                            <input type="hidden" name="id" value="@item.Id"/>
                            <button type="submit" id="delete" class="btn btn-default">
                                <span class="material-symbols-outlined"> delete</span>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    <br/>
    <br/>
    <br/>
    <h2>No Participantes ↑</h2>
    <table class="table display table-hover">
        <thead>
        <tr name="columna">
            <th class="firstname" name="colNombre">Nombre</th>
            <th class="firstsurname" name="colFecIni">Apellido Paterno</th>
            <th class="lastsurname" name="colFecFin">Apellido Materno</th>
            <th class="delete" name="colCargo">Agregar</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.NoParticipants != null)
        {
            @foreach (var item in Model.NoParticipants)
            {
                <tr name="fila">
                    <td class="nombre" name="colNombre">@item.FirstName</td>
                    <td class="firstsurname" name="colFecIni">@item.FathersSurname</td>
                    <td class="lastsurname" name="colFecFin">@item.MothersSurname</td>
                    <td>
                        <form action="@Url.Action("AddParticipants", "Actividades")" method="post">
                            <input type="hidden" name="nro" value="@Model.Id"/>
                            <input type="hidden" name="id" value="@item.Id"/>
                            <button type="submit" id="edit" class="btn btn-default">
                                <span class="material-symbols-outlined"> add</span>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('table.display').DataTable();
    });
</script>