@model VmPerson
@{
    //Layout = "_LayoutCrud";
    ViewData["Vista"] = "Details";
}
<!--jQuery library file -->
<script type="text/javascript"
        src="~/js/cruds.js">
</script>

<!--Datatable plugin JS library file -->
<script type="text/javascript"
        src="~/js/cruds2.js">
</script>


<link rel="stylesheet" href="~/css/CrudOrganizacion.css" asp-append-version="true"/>

@*action="@Url.Action("Login", "Login")" method="post" autocomplete="off"*@

<div class="recent-order">
    <h2>
        Lista de Apoderados ***
        <button type="submit" class="btnCreate" onclick="location.href='@Url.Action("Create", "Padre")'">Ingresar</button>

    </h2>

    <table class="table display table-hover">
        <thead>
        <tr name="columna">
            <th class="dni" name="colDni">DNI</th>
            <th class="nombre" name="colNombre">Nombre</th>
            <th class="apellido" name="colApellidoPat">Apellido Paterno</th>
            <th class="apellido" name="colApellidoMat">Apellido Materno</th>
            <th class="telefono" name="colTelefono">Telefono</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.PersonList)
        {
            <tr name="fila">
                <td class="dni" name="rowDni">@item.Dni</td>
                <td class="nombre" name="rowNombre">@item.FirstName</td>
                <td class="apellido" name="rowApellidoPat">@item.FathersSurname</td>
                <td class="apellido" name="rowApellidoMat">@item.MothersSurname</td>
                <td class="telefono" name="rowTelefono">@item.Phone</td>
                    
                <td>
                                        <form action="@Url.Action("Edit", "Padre")" method="get">
                                            <input type="hidden" name="nro" value="@item.Id" />
                                            <button type="submit" id="edit" class="btn btn-default">
                                                <span class="material-symbols-outlined">edit_square</span>
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="@Url.Action("Delete", "Padre")" method="get">
                                            <input type="hidden" name="nro" value="@item.Id" />
                                            <button type="submit" id="delete" class="btn btn-default">
                                                <span class="material-symbols-outlined">delete</span>
                                            </button>
                                        </form>
                                    </td>
            </tr>
        }
        </tbody>
    </table>


</div>

<script>

    /* Initialization of datatables */
    $(document).ready(function () {
        $('table.display').DataTable();
    });
</script>